# BACKEND_LISTEN_PORT=
# BACKEND_REQUEST_BODY_LIMIT=10mb
# BACKEND_PUBLIC_URL_AND_PORT=

# AUTH_SECRET=
# AUTH_COOKIE_DOMAIN=

# AUTH_DEV_EMAIL=dev@lumiflow.ai
# AUTH_DEV_PASSWORD=lumiflow

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

# FRONTEND_PUBLIC_URL_AND_PORT=

# DB_CREDENTIALS=
# DB_DATABASE_NAME=
# DB_HOST=

# EVAL_HOST=http://localhost:8000
# FAKE_EVAL_SERVICE=0

# APP_ENV=
# API_KEYS=
# APP_ACCESS_ALLOW_LIST=@example.com,person@example.com
# ADDITIONAL_ORG_ACCESS_DOMAINS=example.com
