# These are optional when running in dev, but will throw if missing on prod:

# JOB_SERVICE_LISTEN_PORT=
# JOB_SERVICE_HOST=

# FRONTEND_PUBLIC_URL_AND_PORT=

# DB_CREDENTIALS=
# DB_DATABASE_NAME=
# DB_HOST=

# MAX_JOB_ATTEMPTS=
